#!/bin/bash
#
# Name: Flame After Session Archiver Configuration
#
# REQUIRED:
# Change archive_storage_path to the preferred Flame archive location.
#

## Customizable Variables
archive_storage_path="/var/tmp/archives"

# N = Normal, C = Compact, O = Omitted
archive_type="C"
auto_archive="true"
turn_off="false"

## Flame Variables
flame_version="2027.1"
flame_start_application="/opt/Autodesk/flame_${flame_version}/bin/startApplication"
archive_binary="/opt/Autodesk/io/bin/flame_archive"


## Archiver Variables
archiver_folder="/opt/Autodesk/archive/Flame_After_Session_Archiver"
archiver_script="${archiver_folder}/flame_after_session_archiver.sh"
state_file="/var/tmp/Flame_After_Session_Archiver/state.json"
log_file="/var/tmp/Flame_After_Session_Archiver/flame_after_session_archiver.log"

## Python Variables
python_binary="/usr/bin/python3"
